# Python & Ambiente Virtual
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Banco de Dados Local e Backups
*.db
*.sqlite3
*.zip
*.log

# Arquivos temporários e anexos de teste (PDFs)
*.pdf
/storage/
/data/

# Configurações de IDE / Sistema Operacional
.vscode/
.idea/
.DS_Store